:root {
  --bs-primary: #0000fe;
  --bs-primary-rgb: 0, 0, 254;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-white: #fff;
  --bs-black: #000;
}

body {
  font-size: 0.875rem;
}
